
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html
	style="-moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; background-color: #464646; margin: 0; padding: 0;">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="format-detection" content="telephone=no">
<title>Thanh toán thành công</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-g9XHVLZ48TTC+6nPV/0Udrx6ZiK+jL5Z2u8+Azl39SMD8iCt3KTFLTBbZW+J0ZZ0" crossorigin="anonymous">
</head>
<body bgcolor="#d7d7d7" class="generic-template"
	style="-moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; background-color: #d7d7d7; margin: 0; padding: 0;">

	<!-- Content Start -->
	<table cellpadding="0" cellspacing="0" cols="1" bgcolor="#d7d7d7"
		align="center" style="max-width: 600px;">
		<tr bgcolor="#d7d7d7">
			<td height="50"
				style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
		</tr>

		<!-- This encapsulation is required to ensure correct rendering on Windows 10 Mail app. -->
		<tr bgcolor="#d7d7d7">
			<td
				style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;">
				<!-- Seperator Start -->
				<table cellpadding="0" cellspacing="0" cols="1" bgcolor="#d7d7d7"
					align="center" style="max-width: 600px; width: 100%;">
					<tr bgcolor="#d7d7d7">
						<td height="30"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
					</tr>
				</table> <!-- Seperator End --> <!-- Generic Pod Left Aligned with Price breakdown Start -->
				<table align="center" cellpadding="0" cellspacing="0" cols="3"
					bgcolor="white" class="bordered-left-right"
					style="border-left: 10px solid #d7d7d7; border-right: 10px solid #d7d7d7; max-width: 600px; width: 100%;">
					<tr height="50">
						<td colspan="3"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
					</tr>
					<tr align="center">
						<td width="36"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
						<td class="text-primary"
							style="color: #F16522; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;">
							<img src="/images/check.png" alt="Success" width="50"
							style="border: 0; font-size: 0; margin: 0; max-width: 100%; padding: 0;">

						</td>
						<td width="36"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
					</tr>
					<tr height="17">
						<td colspan="3"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
					</tr>
					<tr align="center">
						<td width="36"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
						<td class="text-primary"
							style="color: #F16522; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;">
							<h1
								style="color: #007acc; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 30px; font-weight: 700; line-height: 34px; margin-bottom: 0; margin-top: 0;">Đặt vé thành công
</h1>
						</td>
						<td width="36"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
					</tr>
					<tr height="30">
						<td colspan="3"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
					</tr>
					<tr align="left">
						<td width="36"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
						<td
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;">
							<p th:text="${hoten}"
								style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0;">
								 ,</p>
						</td>
						<td width="36"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
					</tr>
					<tr height="10">
						<td colspan="3"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
					</tr>
					<tr align="left">
						<td width="36"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
						<td
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;">
							<p
								style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0;">Cảm ơn bạn đã đặt vé tàu của Tigon Ship</p> <br>
							<p
								style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0;"></p>
								<strong>Thông tin hóa đơn:</strong>
								<p th:text="${tuyen}" style="margin-top: 10px;"></p>
								<p th:text="${soghe}" style="margin-top: 10px;"></p>
								<p th:text="${tongtien}" style="margin-top: 10px;"></p>
							<p
								style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0;">
								Chúng tôi sẽ liên hệ với bạn sớm nhất để hoàn tất thủ tục thanh
								toán.&nbsp;&nbsp;&nbsp;&nbsp;<br />
							</p>
						</td>
						<td width="36"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
					</tr>
					<tr height="30">
						<td
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
						<td
							style="border-bottom: 1px solid #D3D1D1; color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
						<td
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
					</tr>
					<tr height="30">
						<td colspan="3"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
					</tr>
					<tr align="center">
						<td width="36"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
						<td
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;">
							<p
								style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0;">
								<strong>Mọi chi tiết xin vui lòng liên hệ Hotline : 18001000</strong>
							</p> <br>
								<p>Trang sẽ tự động chuyển về trang chủ trong <span id="countdown">60</span> giây.</p>
							<p
								style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0;"><button class="btn btn-primary">Quay về trang chủ</button></p>
						</td>
						<td width="36"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
					</tr>

					<tr height="50">
						<td colspan="3"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
					</tr>

				</table> <!-- Generic Pod Left Aligned with Price breakdown End --> <!-- Seperator Start -->
				<table cellpadding="0" cellspacing="0" cols="1" bgcolor="#d7d7d7"
					align="center" style="max-width: 600px; width: 100%;">
					<tr bgcolor="#d7d7d7">
						<td height="50"
							style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
					</tr>
				</table> <!-- Seperator End -->

			</td>
		</tr>
	</table>
	<!-- Content End -->
	 <script>
        // Chờ 5s và chuyển hướng về trang chủ
        let countdown = 60;
        updateCountdown();

        function updateCountdown() {
            document.getElementById('countdown').innerText = countdown;
            if (countdown === 0) {
                window.location.href = "http://localhost:8080/";
            } else {
                countdown--;
                setTimeout(updateCountdown, 1000);
            }
        }
    </script> 
</body>
</html>