<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style type="text/css">
    @import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");
  </style>
</head>
<body style="margin: 0; padding: 0; font-family: 'Barlow', sans-serif; color: black; font-size: 14px; letter-spacing: 0.1em;">

  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; background-color: white; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
          <tr>
            <td>
              <table cellpadding="20" cellspacing="0" border="0" style="width: 100%;">
                <tr>
                  <td>
                    <!-- Your content here -->
                    <div class="ticket" style="display: flex; box-sizing: border-box; width: 100%; background: white;">
                      <!-- Left side -->
                      <div class="left" style="display: table-cell; width: 100px; vertical-align: top;">
                        <div class="image" style="height: auto; width: 100%; background-size: cover; background-repeat: no-repeat; background-position: center; opacity: 0.95; position: relative;">
                          <p class="admit-one" style="position: absolute; color: darkgray; height: 250px; padding: 0 10px; letter-spacing: 0.15em; font-size: 12px; display: flex; text-align: center; justify-content: space-around; writing-mode: vertical-rl; transform: rotate(-180deg);">
                            <span style="color: white; font-weight: 700;">TIGON SHIP</span>
                            <span style="color: white; font-weight: 700;">TIGON SHIP</span>
                            <span style="color: white; font-weight: 700;">TIGON SHIP</span>
                          </p>
                          <div class="ticket-number" style="height: 250px; width: 300px; display: flex; justify-content: flex-end; align-items: flex-end; padding: 10px; color: white;">
                            <p></p>
                          </div>
                        </div>
                      </div>
                      <!-- Center -->
                      <div class="ticket-info" style="display: table-cell; vertical-align: top;  width: 100%; box-sizing: border-box;text-align: center;">
                      <p class="date" style="border-top: 1px solid gray; border-bottom: 1px solid gray; font-weight: 700; text-align: center;">
    <span style="font-size: 18px; text-align: left;">Thứ 2</span>
    <span class="nov-10" style="color: #d62839; font-size: 18px; text-align: center;">28 Tháng 12</span>
    <span style="font-size: 18px; text-align: right;">2023</span>
</p>



                        <div class="show-name" style="font-size: 18px; color: #d62839; font-weight: 700;">
                          <h1 style="font-size: 30px; letter-spacing: 0.05em; margin-bottom: 4px; color: #93229f; font-family: 'Saira Stencil One', sans-serif;">Phú Quốc - Sóc Trăng</h1>
                          <h2 style="margin-bottom: 2px;">Tigon Ship V</h2>
                          <h4>KHOANG: 1</h4>
                          <h4>GHẾ: G1,G2,G3,G5</h4>
                        </div>
                        <div class="tagline" style="font-weight: 700; font-size: 14px;">
                          <p>HÀNH KHÁCH CHÍNH: TRẦN MỘNG CƠ</p>
                        </div>
                        <div class="time" style="color: #505050; text-align: center; font-weight: 700;">
                          <p style="font-weight: 400;text-align: center;">Thời gian khởi hành: 7:00 - 28/12/2023</p>
                        </div>
                        <p class="location" style="padding: 8px 0; border-top: 1px solid gray; font-weight: 700; text-align: center;">
    <span style="text-align: left;">&nbsp;</span>
    <span class="separator" style="font-size: 20px;">&nbsp;</span>
    <span style="text-align: right;">NGÀY ĐẶT: 27/12/2023</span>
</p>


                      </div>
                      <!-- Right side -->
                      <div class="right" style="width: 225px; border-left: 1px dashed #404040;">
    <div class="right-info-container" style="padding: 10px 10px 10px 30px; text-align: center;">
        <div class="show-name" style="font-size: 18px; font-family: 'Barlow', sans-serif;">
            <!-- <h1>#SaveWarriorNun</h1> -->
        </div>
        <div class="time" style="color: #505050; font-weight: 700; margin-top: 10px;">
            <p>Quét mã để xem chi tiết hóa đơn</p>
        </div>
        <div id="barcode">
           <img th:src="@{'/generateQRCode?text=' + ${qrCodeText}}" alt="QR Code" style="height: 200px;width: 200px;">
        </div>
        <p class="ticket-number" style="color: #505050; font-weight: 700; margin-top: 10px;">Thank you</p>
    </div>
</div>

                    </div>
                    <!-- End of your content -->
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
