<!DOCTYPE html>
<html>
<head>
    <title>Email Template</title>
</head>
<body>
   <div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="width:70%;">
    <div style="border-bottom:1px solid #eee">
      <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Yêu Cầu Thay Đổi Mật Khẩu</a>
    </div>
    <p style="font-size:1.1em">Xin chào,</p>
    <p>Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn. Vui lòng sử dụng mã OTP dưới đây để hoàn thành quá trình đặt lại mật khẩu. OTP có hiệu lực trong 5 phút. Vui lòng không chia sẻ mã OTP cho bất kỳ ai.</p>
    <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;" th:text="${message}"></h2>
    <p style="font-size:0.9em;"><br />Tigon Ship</p>
    <hr style="border:none;border-top:1px solid #eee" />
    <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
      <p>Tigon Ship Travel Company</p>
      <p>160 Vo Van Kiet, Phu Quoc, Kien Giang</p>
      <p>VietNam</p>
    </div>
  </div>
</div>
</body>
</html>