<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Đăng nhập</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/security/login/css/style.css">

</head>

<body
	style="background-image: url(/security/login/images/walllogin.jpg); background-size: cover;">
	<section class="ftco-section">

		<div class="container ">
			<button type="submit"
				class="form-control btn btn-primary submit px-3"
				style="width: 10%; position: absolute; top: 12px; right: 16px; font-size: 18px;">
				<a th:href="@{/dangki}" style="color: black">Đăng ký</a></button>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4 justify-content-center">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">Đăng nhập</h3>
						<form th:action="@{/security/login}" method="post">
							<p th:text="${messageError}"></p>
							<div class="form-group">
								<input type="text" class="form-control" 
									placeholder="Tên đăng nhập" name="username" required>
							</div>
							<div class="form-group">
								<input id="password-field" type="password" class="form-control"
									placeholder="Mật khẩu" name="password" required> 
									<span
									toggle="#password-field" 
									class="fa fa-fw fa-eye field-icon toggle-password"></span>
									
							</div>
							<div class="form-group">
								<button type="submit"
									class="form-control btn btn-primary submit px-3">Đăng
									nhập</button>
							</div>
							<div class="form-group d-md-flex">
								<div class="w-50">
									<label class="checkbox-wrap checkbox-primary">Lưu tài
										khoản <input type="checkbox"> <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a th:href="@{/quenmatkhau}" style="color: #fff">Quên mật khẩu?</a>
								</div>
							</div>
						</form>
						<p class="w-100 text-center">&mdash;Hoặc đăng nhập với &mdash;</p>
						<div class="social d-flex text-center">
							<a href="/oauth2/authorization/facebook"
								class="px-2 py-2 mr-md-1 rounded"><span
								class="ion-logo-facebook mr-2"></span> Facebook</a> <a
								href="/oauth2/authorization/google"
								class="px-2 py-2 ml-md-1 rounded"><span
								class="ion-logo-google mr-2"></span> Google</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	<script src="/security/login/js/jquery.min.js"></script>
	<script src="/security/login/js/popper.js"></script>
	<script src="/security/login/js/bootstrap.min.js"></script>
	<script src="/security/login/js/main.js"></script>

</body>

</html>