<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Đăng nhập</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="login/css/style.css">

</head>

<body>
<p th:text="${message}"></p>
<th:block th:if="${#request.remoteUser}">
<h2 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h2>
</th:block>
<a th:href="@{/security/login/form}">Login</a>
<a th:href="@{/security/logoff}">Logout</a>
</body>

</html>