<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Thay đổi mật khẩu</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<style type="text/css">
body{
background:#eee;
}
.img-thumbnail{
    border:0px;    
}
.btn, .input-lg, .alert {border-radius:2px !important;}
</style>
</head>

<body>

<div class="container bootstrap snippets bootdey">
<div>Tigon Ship</div>
    <div class="row">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="text-center">
                   <img width="100" height="100" src="https://img.icons8.com/stickers/100/re-enter-pincode.png" alt="re-enter-pincode"/>
                    <div>
                        <h3 class="text-center" style="font-weight: 700;">Yêu Cầu Thay Đổi Mật Khẩu</h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-danger"  th:if="${message}" id="myAlert">
                            <a class="close" href="#" onclick="closeAlert()">×</a> 
                            <p th:text="${message}"></p>
                            <a th:href="@{/dangki}">Đăng ký tài khoản mới</a>
                        </div>
                        <form method="post">
                            <div class="form-group">
                            <input class="form-control input-lg" placeholder="Nhập email đăng ký" name="email" type="text" required="required">
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" th:formaction="@{/layotp}" type="submit">Gửi mã xác nhận</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function closeAlert() {
        var alert = document.getElementById('myAlert');
        alert.style.display = 'none';
    }
</script>
</body>

</html>