<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Đăng nhập</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/security/login/css/style.css">

</head>

<body
	style="background-image: url(/security/login/images/walllogin.jpg); background-size: cover;">
	<section class="ftco-section">

		<div class="container">
			<button type="submit"
				class="form-control btn btn-primary submit px-3"
				style="width: 10%; position: absolute; top: 12px; right: 16px; font-size: 18px;">
				<a th:href="@{/dangnhap}" style="color: black; font-size: 15px">Đăng
					nhập</a>
			</button>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">Xác Minh Số điện thoại</h3>
						<form>
							<p th:text="${message}"></p>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Nhập mã xác minh"
									name="maxacminh" required>
							</div>
							<div class="form-group">
								<button type="submit"
									class="form-control btn btn-primary submit px-3">Xác Minh</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</section>

	<script src="/security/login/js/jquery.min.js"></script>
	<script src="/security/login/js/popper.js"></script>
	<script src="/security/login/js/bootstrap.min.js"></script>
	<script src="/security/login/js/main.js"></script>

</body>

</html>