<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>TigonShip</title>
<meta name="description" content="Ela Admin - HTML5 Admin Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<script  th:src="@{/js/jquery.dataTables.min.js}"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
<link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">
<!--AngularJS  -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
<link rel="stylesheet" th:href="@{/admin/css/cs-skin-elastic.css}">
<link rel="stylesheet" th:href="@{/admin/css/style.css}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/style1.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/> 
<script src="https://cdn.datatables.net/plug-ins/1.13.6/sorting/datetime-moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"><!--Tab -->
<style>
	/* Style for the date input */
	input[type=date] {
		border: .2em solid #597aa7;
		padding: .5em .9em;
		border-radius: 2em;
		color: #597aa7;
	}

	/* Style for the date input's text */
	input[type=date]::-webkit-datetime-edit-text {
		color: rgb(72, 166, 213);
		padding: 0 0.3em;
	}

	/* Style for the calendar picker indicator */
	input[type=date]::-webkit-calendar-picker-indicator {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%230000FF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'/%3E%3Cline x1='16' y1='2' x2='16' y2='6'/%3E%3Cline x1='8' y1='2' x2='8' y2='6'/%3E%3Cline x1='3' y1='10' x2='21' y2='10'/%3E%3C/svg%3E");
	}

	/* Hide the inner spin button */
	input[type=date]::-webkit-inner-spin-button {
		display: none;
	}
	.custom-button {
		appearance: none;
		border: .2em solid #597aa7;
		background: hsl(0 0 0/0);
		padding: .45em 1.5em;
		color: #597aa7;
		border-radius: 2em;
		transition: background 1s, color 1s;
	}

	/* Style for the button on hover, focus, and active states */
	.custom-button:hover,
	.custom-button:focus,
	.custom-button:active {
		background: #597aa7;
		color: #fff;
	}
	.card-title {
		font-size: 25px; /* Adjust the font size as needed */
		font-weight: bold; /* Make the font bold */
		color: #333; /* Change the text color */
		margin-bottom: 10px; /* Add some bottom margin for spacing */
		color:#597aa7
	}
	select {
    border: .2em solid #597aa7;
    padding: .5em .7em;
    border-radius: 2em;
    color: #597aa7;
    appearance: none; /* Remove default styles on some browsers */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
   
    background-repeat: no-repeat;
    cursor: pointer;
}
/* Style for the select's options */
select option {
    background-color: white;
    color: #597aa7;
}

/* Hover effect for the select */
select:hover {
    border-color: #597aa7;
}

/* Active (clicked) effect for the select */
select:active {
    border-color: #7597b8;
}
#errorMessageModal { 
        top: 5px; /* Điều chỉnh giá trị này để thay đổi khoảng cách từ top xuống dưới */
    }
</style>
<link rel="stylesheet" th:href="@{/css/style1.css}">		
</head>
<body ng-app="datve-app" ng-controller="datve-ctrl">
	<!-- Left Panel (menu)-->
	<div th:replace="~{admin/fragments_admin :: aside}"></div>
	<!--  Header   --->
	<div id="right-panel" class="right-panel">
		<div th:replace="~{admin/fragments_admin :: header}"></div>
	</div>
	<!---------------->
	
	<div id="right-panel" class="right-panel">
		<div class="content">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<!-- nút tìm kiếm theo ngày - tuyến - mã hóa đơn -->
							<div class="card-header" style="text-align: center;">
								<strong class="card-title">Thông tin vé đặt khởi hành ngày </strong>
								<input type="date" id="datepicker" ng-model="selectedDate">
								<select class="text-center" ng-model="selectedTuyen" ng-options="tuyen.idtuyen as tuyen.tentuyen for tuyen in items.tuyen">
								</select>
								<button ng-click="searchByDate()" class="custom-button">
									<i class="fas fa-search"></i> 
								</button>
								<button ng-click="reset()" class="custom-button">
									<i class="fas fa-sync"></i>
								</button>
							
								<div style="margin: 10px 0;">
									<input class="custom-button" type="text" ng-model="searchMaHD" placeholder="Nhập mã Hóa đơn" ng-show="maHD">
									<button class="custom-button" ng-click="searchByMaHD(searchMaHD)" ng-show="search">
										<i class="fas fa-search"></i> 	
									</button>
								</div>
							</div>
							<div class="card-body">
								 <!-- Tabs (tab1: tài khoản, tab2: khách hàng) -->
								<div class="container">
									<ul class="nav nav-tabs" id="myTabs">
										<li class="nav-item">
											<a class="nav-link active" id="tab1" data-toggle="tab" href="#content1">Tài Khoản</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="tab2" data-toggle="tab" href="#content2">Hành khách</a>
										</li>
									</ul>
								</div>
								<!-- Tab Contents -->
							<div class="tab-content mt-2">
								<div class="tab-pane fade show active" id="content1">
									<div class="table-stats order-table ov-h">
										<table class="table">
											<thead class="text-center">
												<tr>
													<th>Mã HD</th>
													<th>Ngày đặt</th>
													<th>Tên</th>
													<th class="text-center">Số ĐT</th>
													<th>Số ghế</th>
													<th>Tàu</th>
													<th class="text-center">Chi tiết</th>
												</tr>
											</thead>
											<tbody ng-repeat="item in datvetheongay">
												<tr>
													<td class="text-center"><span>{{item[0]}} </span></td><!-- MÃ HÓA ĐƠN -->
													<td class="text-center"><span>{{item[1]}}</span></td> <!--  ngày đặt -->
												 	<!--<td class="text-center"><span>{{item[2]}}</span></td> --><!-- NGÀY ĐI -->
													<!--<td class="text-center"><span>{{item[3]}}</span></td> --><!-- Mã đặt vé -->
													<!--<td class="text-center"><span>{{item[4]}} </span></td> --><!-- ngày về -->
													<!--<td class="text-center"><span>{{item[5]}}</span></td> --><!-- trạng thái -->
													<td class="text-center"><span>{{item[6]}}</span></td><!-- HỌ VÀ TÊN -->
													<td class="text-center"><span>{{item[7]}}</span></td><!-- SDT -->
													<td class="text-center"><span>{{item[8]}} </span></td><!-- SỐ GHẾ -->
													<td class="text-center"><span>{{item[9]}}</span></td><!-- TÊN TÀU -->
													<td class="text-center"><button data-bs-toggle="modal" data-bs-target="#modal" ng-click="searchByID(item[3])" class="custom-button">
														<i class="fas fa-pen"></i> </button></td>					
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="tab-pane fade" id="content2">
									<div class="table-stats order-table ov-h">
										<table class="table">
											<thead class="text-center">
												<tr>
													<th>Mã HD</th>
													<th>Ngày đặt</th>
													<th>Tên</th>
													<th class="text-center">Số ĐT</th>
													<th>Số ghế</th>
													<th>Tàu</th>
													<th class="text-center">Chi tiết</th>
												</tr>
											</thead>
											<tbody ng-repeat="item in datvetheongayHK">
												<tr>
													<td class="text-center"><span>{{item[0]}} </span></td><!-- MÃ HÓA ĐƠN -->
													<td class="text-center"><span>{{item[1]}}</span></td> <!--  ngày đặt -->
												 	<!--<td class="text-center"><span>{{item[2]}}</span></td> --><!-- NGÀY ĐI -->
													<!--<td class="text-center"><span>{{item[3]}}</span></td> --><!-- Mã đặt vé -->
													<!--<td class="text-center"><span>{{item[4]}} </span></td> --><!-- ngày về -->
													<!--<td class="text-center"><span>{{item[5]}}</span></td> --><!-- trạng thái -->
													<td class="text-center"><span>{{item[6]}}</span></td><!-- HỌ VÀ TÊN -->
													<td class="text-center"><span>{{item[7]}}</span></td><!-- SDT -->
													<td class="text-center"><span>{{item[8]}} </span></td><!-- SỐ GHẾ -->
													<td class="text-center"><span>{{item[9]}}</span></td><!-- TÊN TÀU -->
													<td class="text-center"><button data-bs-toggle="modal" data-bs-target="#modal" ng-click="searchByID(item[3])" class="custom-button">
														<i class="fas fa-pen"></i> </button></td>					
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<!-- Tab Contents -->
							</div>
							    <!-- Bootstrap modal for error message -->
							<div class="modal" id="errorMessageModal" tabindex="-1" role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">{{ errorMsg }}</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<!-- <div class="modal-body">
										</div> -->
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
										</div>
									</div>
								
								</div>
							</div>
							 <!-- Bootstrap modal for form đặt ghế + người đi cùng + cập nhật đặt vé -->
							<div class="modal fade" id="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
								<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header" style="background: #597aa7;">
											
											<button ng-click="deleteByIDDatVe()" class="custom-button">Xóa đặt vé<i class="fas fa-trash"></i> </button>
											<button ng-click="" class="custom-button">Cập nhật vé<i class="fas fa-sync"></i> </button>
											<button type="button" ng-click="checkAndClose()" data-bs-dismiss="modal" class="btn-close" aria-label="Close"></button>

										</div>
										<div class="modal-body">
											<div class="table-stats order-table ov-h">
												<table class="table">
													<thead class="text-center">
														<tr>
															<th>ID đặt ghế</th>
															<th>Tên ghế</th>
															<th class="text-center">Khoang</th>
															<th  class="text-center">Hủy</th>
														</tr>
													</thead>
													<tbody ng-repeat="item in datghe">
														<tr>
															<td class="text-center">{{item[0]}}</td>
															<td class="text-center">{{item[1]}}</td>
															<td class="text-center">{{item[2]}}</td>
															<td  class="text-center"><button ng-click="deleteDatGhe(item[0])"  class="custom-button"><i class="fas fa-trash"></i> </button></td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="table-stats order-table ov-h">
												<table class="table">
													<thead class="text-center">
														<tr>
															<th>Tên</th>
															<th>CCCD</th>
															<th class="text-center">SDT</th>
															<th  class="text-center">Hủy</th>
														</tr>
													</thead>
													<tbody ng-repeat="item in nguoidicung">
														<tr>
															<td class="text-center">{{item[1]}}</td>
															<td class="text-center">{{item[2]}}</td>
															<td class="text-center">{{item[3]}}</td>
															<td  class="text-center"><button ng-click="deleteNguoiDiCung(item[0])"  class="custom-button"><i class="fas fa-trash"></i> </button></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>			
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<!-- Footer-->
	<!-- 	<div th:replace="~{admin/fragments_admin :: footer}"></div> -->
		<!-- Footer -->

	<!-- Scripts -->
	<script>const myModal = new bootstrap.Modal(document.getElementById('modalId'),options)</script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
	<script th:src="@{/admin/js/main.js}"></script>
	<script th:src="@{/js/datve.js}"></script>
</body>
</html>