<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Hành Khách</title>
    <link rel="stylesheet" href="/user/styleHanhKhachDiCung.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"	>
    <style>
       
        
        #container {
            width: 100%;
            padding: 20px;
        }
        
        .w3layoutscontaineragileits {
            width: calc(50% - 20px);
            margin: 40px;
            box-sizing: border-box;
            float: left;
        }

        
        #continueButton {
            position: fixed;
            bottom: 30px;
            right: 50px;
            padding: 10px 20px;
            font-size: 23px;
            text-align: center;
            text-decoration: none;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            font-weight: bold;
        }
    </style>
</head>
<body>
    
    <form action="#" method="post" onsubmit="return confirmSubmit();">
    	<div id="container">
        	<div id="passengerContainer"></div>
    	</div>
    	<button id="continueButton" th:formaction="@{/datve/datghe}" class="button-style">Tiếp Tục</button>
    </form>
	

    <script>
        document.addEventListener('DOMContentLoaded', function() {
        	 
        	
            var noOfPassenger = localStorage.getItem('NoOfPassenger');
            var container = document.getElementById('passengerContainer');

            for (var i = 1; i <= noOfPassenger - 1; i++) {
                var divElement = document.createElement('div');
                divElement.className = 'w3layoutscontaineragileits passenger-info';
                divElement.style.width = 'calc(50% - 20px)';
                divElement.style.margin = '10px';
                divElement.style.boxSizing = 'border-box';

                // Thêm nội dung HTML vào thẻ div
                divElement.innerHTML = `
                    <h2>THÔNG TIN HÀNH KHÁCH ${i+1}</h2>
                    
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Họ và tên" required>
                        </div>
                        
                        
                        <div class="form-group">
                            <input type="text" name="cccd" placeholder="CCCD" >
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <!-- Thêm sự kiện onchange để lắng nghe sự thay đổi trong ngày sinh -->
                            <input type="date" name="date" placeholder="Ngày Tháng Năm Sinh" required onchange="calculateAge(this)">
                        </div>
                        <div class="form-group">
                            <input type="tel" name="SDT" placeholder="Số điện thoại">
                        </div>
                        <div class="form-group" >
                            <input type="hidden" name="tickit" placeholder="Loại Vé" required>
                        </div>
                        <div class="form-group" style="text-align: left; margin-left: 30px;">
                            <label for="nationality" style="color: white;"> <b>Quốc Tịch:</b> </label>
                            <select name="nationality" style="width: 200px; height: 35px; margin-left: 8px; background: rgba(0, 0, 0, 0.2); color: white;">
                                <option value="Vietnam"><b>Việt Nam</b></option>
                                <option value="Thailand"><b>Thái Lan</b></option>
                                <option value="UK"><b>Anh</b></option>
                                <option value="USA"><b>Mỹ</b></option>
                                <option value="Other"><b>Khác</b></option>
                            </select>
                        </div>
                    
                `;

                container.appendChild(divElement);
                
            }
            alert('Lưu ý: nếu là trẻ em dưới 11 tuổi bạn không cần nhập CCCD, Số điện thoại, Email !');
        });

        // Hàm tính toán tuổi và loại vé
        function calculateAge(input) {
            var selectedDate = new Date(input.value);
            var currentDate = new Date();
            var age = currentDate.getFullYear() - selectedDate.getFullYear();

            // Kiểm tra nếu chưa đến sinh nhật trong năm
            if (currentDate.getMonth() < selectedDate.getMonth() || (currentDate.getMonth() === selectedDate.getMonth() && currentDate.getDate() < selectedDate.getDate())) {
                age--;
            }

            // Hiển thị loại vé trong ô loại vé
            var ticketTypeInput = input.parentNode.parentNode.querySelector('[name="tickit"]');
            ticketTypeInput.value = age >= 11 ? 'Người Lớn' : 'Trẻ Em';
            
            
        }
        
		function confirmSubmit() {
			if(setCCCDValue() == false){
				return false
				
			}else{
				var confirmation = window.confirm("Bạn xác nhận thông tin hành khách trên chính xác ?");
	        	return confirmation;
			}
			
        	
    	}
    	
    	function setCCCDValue() {
    		var noOfPassenger = localStorage.getItem('NoOfPassenger');
			
    		var usernameInput = document.getElementsByName('username')[0];

            // Biểu thức chính quy cho họ và tên (không chấp nhận kí tự đặc biệt và số)
            var usernameRegex = /^[a-zA-Z ]+$/;
            // Kiểm tra họ và tên theo biểu thức chính quy
            if (!usernameRegex.test(usernameInput.value.trim())) {
                alert('Họ và tên không được chứa kí tự đặc biệt hoặc số.');
                return false;
            }
    		
    	    for (var i = 1; i <= noOfPassenger - 1; i++) {
    	        var ticketTypeInput = document.getElementsByName('tickit')[i - 1];
    	        var usernameInput = document.getElementsByName('username')[i - 1];
    	        var cccdInput = document.getElementsByName('cccd')[i - 1].parentNode.querySelector('input');
    	        var sdtInput = document.getElementsByName('SDT')[i - 1].parentNode.querySelector('input');
    	        var emailInput = document.getElementsByName('email')[i - 1].parentNode.querySelector('input');
    	        console.log("CCCD: " + cccdInput.value);

    	        // Kiểm tra nếu loại vé là "Trẻ Em", đặt giá trị CCCD thành khoảng trắng
    	        if (ticketTypeInput.value === 'Trẻ Em') {
    	            cccdInput.value = "Không có";
    	            cccdInput.setAttribute('readonly', true); // Đặt thuộc tính readonly để ngăn người dùng chỉnh sửa
    	            sdtInput.value = "Không có";
    	            sdtInput.setAttribute('readonly', true)
    	            emailInput.value = "Không có";
    	            emailInput.setAttribute('readonly', true)
    	        } 
    	        
    	        if (ticketTypeInput.value === 'Người Lớn'){
    	        	 console.log('Đang kiểm tra cho Người Lớn');
    	        	 console.log('Họ và tên:', usernameInput.value);
    	        	
    	        	// Biểu thức chính quy cho họ và tên (không chấp nhận kí tự đặc biệt và số)
    	            var usernameRegex = /^[a-zA-Z ]+$/;
    	            // Kiểm tra họ và tên theo biểu thức chính quy
    	            if (!usernameRegex.test(usernameInput.value.trim())) {
    	                alert('Họ và tên không được chứa kí tự đặc biệt hoặc số.');
    	                return false;
    	            }
    	        	
    	            var cccdRegex = /^((0[0-9][1-9]|1[0-9][0-6]|2[0-3][0-9]|24[0-9])[0-3][0-9]{2}[0-9]{6})$/;
    	            if (!/^(((0[1-9][0-9]|99))[0-3][0-9]{2}[0-9]{6})$/.test(cccdInput.value.trim())) {
    	                alert('CCCD không hợp lệ. Vui lòng nhập theo định dạng đúng.');
    	                return false;
    	            }
    	            
    	            var emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    	            // Kiểm tra định dạng email theo biểu thức chính quy
    	            if (!emailRegex.test(emailInput.value.trim())) {
    	                alert('Email không hợp lệ. Vui lòng nhập theo định dạng đúng.');
    	                return false;
    	            }
    	            
    	            // Kiểm tra SDT là số và đúng định dạng
    	            if (!/^\d{10,11}$/.test(sdtInput.value)) {
    	                alert('Số điện thoại không hợp lệ.');
    	                return false;
    	            }
    	            
    	            if (!/^(0[1-9][0-9]{8})$/.test(sdtInput.value)) {
    	                alert('Số điện thoại không hợp lệ.');
    	                return false;
    	            }
    	    	}
    	      
    	    }
    	}
        
    </script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>