<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Tigon Ship</title>

    
	<link rel="stylesheet" href="/user/styleHanhKhachDiCung.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
</head>

<body style="background-image: url('/images/b1.jpg');">

    
    <div class="w3layoutscontaineragileits" style="width: 600px; margin-top: 40px">
        <h2><b>HÀNH KHÁCH CHÍNH</b></h2>
       	<form action="#" method="post" onsubmit="return validateForm()">
            <div class="form-group">
                            <input type="text" name="username" th:value="${username}" placeholder="Họ và Tên"  required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="cccd" th:value="${cccd}" placeholder="CCCD" required pattern="[0-9]{12}" title="CCCD phải đủ 12 số">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" th:value="${email}" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <!-- Thêm sự kiện onchange để lắng nghe sự thay đổi trong ngày sinh -->
                            <input type="date" name="date" th:value="${date}" placeholder="Ngày Tháng Năm Sinh" required onchange="validateAge(this)">
                        </div>
                        <div class="form-group">
                            <input type="tel" name="SDT" th:value="${SDT}" placeholder="Số điện thoại" required pattern="[0-9]{10,11}" title="Số điện thoại không hợp lệ">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="tickit" th:value="${username}" disabled placeholder="Loại Vé" required>
                        </div>
                        <div class="form-group" style="text-align: left; margin-left: 23px;">
                            <label for="nationality" style="color: white;"> <b>Quốc Tịch:</b> </label>
                            <select name="nationality" style="width: 200px; height: 35px; margin-left: 8px; background: rgba(0, 0, 0, 0.2); color: white;">
                                <option value="Vietnam"><b>Việt Nam</b></option>
                                <option value="Thailand"><b>Thái Lan</b></option>
                                <option value="UK"><b>Anh</b></option>
                                <option value="USA"><b>Mỹ</b></option>
                                <option value=""><b>Khác</b></option>
                            </select>
                        </div>
                        <br>
            <div class="aitssendbuttonw3ls">
                 <button formaction="/datve/HanhKhachDiCung" class="w3-button w3-red w3-round-large" ><b>Tiếp Tục</b></button>
            </div>
</form>
    </div>
    <script>
        function validateForm() {
            var cccdInput = document.getElementsByName('cccd')[0];
            var sdtInput = document.getElementsByName('SDT')[0];
            var dateInput = document.getElementsByName('date')[0];

            // Kiểm tra CCCD là số và đúng định dạng
            if (!/^\d{12}$/.test(cccdInput.value)) {
                alert('CCCD phải là 12 số.');
                return false;
            }

            // Kiểm tra SDT là số và đúng định dạng
            if (!/^\d{10,11}$/.test(sdtInput.value)) {
                alert('Số điện thoại không hợp lệ.');
                return false;
            }
            
         // Kiểm tra tuổi
            if (!validateAge(dateInput)) {
                alert('Bạn phải đủ 18 tuổi để đặt vé.');
                return false;
            }
          
            return true;
        }
        function validateAge(input) {
            var currentDate = new Date();
            var birthDate = new Date(input.value);
            var age = currentDate.getFullYear() - birthDate.getFullYear();

            return age >= 18;
        }
        
    </script>

</body>

</html>