<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>TigonShip</title>
<meta name="description" content="Ela Admin - HTML5 Admin Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
	src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script
	src="https://cdn.rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<!--AngularJS  -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
<link rel="stylesheet" href="admin/css/cs-skin-elastic.css">
<link rel="stylesheet" href="admin/css/style.css">
<link
	href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css"
	rel="stylesheet" />
<link
	href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
	<link rel="stylesheet" th:href="@{/css/style1.css}">
<style>
#weatherWidget .currentDesc {
	color: #ffffff !important;
}

.traffic-chart {
	min-height: 335px;
}

#flotPie1 {
	height: 150px;
}

#flotPie1 td {
	padding: 3px;
}

#flotPie1 table {
	top: 20px !important;
	right: -10px !important;
}

.chart-container {
	display: table;
	min-width: 270px;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

#flotLine5 {
	height: 105px;
}

#flotBarChart {
	height: 150px;
}

#cellPaiChart {
	height: 160px;
}

#qr-result {
	display: none;
}
#qr-form {
	position: absolute;
	width: 20%;
  top: 30%;
  left: 70%;
  transform: translate(-50% , -50%);
}
#qr-result-link{
	position: absolute;
	width: 20%;
  top: 27%;
  left: 20%;
   z-index: 1000;
}

#qr-video {
    position: absolute;
     top: 6.3%;
      left: 550px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    z-index: 1000; /* Set a higher z-index value */
}
#carouselExampleDark {
 position: absolute;
  top: 35%;
width: 82%;

 z-index: 999;
}
 .welcome-message {
        font-size: 35px; /* Kích thước chữ lớn */
        font-weight: bold; /* Chữ đậm */
        color: #3498db; /* Màu chữ */
        text-align: center; /* Căn giữa văn bản */
        margin-bottom: 20px; /* Khoảng cách dưới */
        text-transform: uppercase; /* Chuyển tất cả chữ thành in hoa */
    }
</style>
</head>

<body>
	<!-- Left Panel (menu)-->
	<div th:replace="~{admin/fragments_admin :: aside}"></div>
	<!-- /#left-panel -->

	<div id="right-panel" class="right-panel">
		<div th:replace="~{admin/fragments_admin :: header}"></div>
	</div>

	<!-- Right Panel -->
	<div id="right-panel" class="right-panel">
		<!-- Content -->
		<div class="content">
			<!-- Animated -->
			<div class="animated fadeIn">
				<!-- Widgets  -->
				<div class="row">
	  <div class="col-md-12">
        <div class="welcome-message">
            Chào mừng bạn đến với Trang Quản lý!
            <br>
            Hãy trải nghiệm sự thuận tiện của hệ thống.
        </div>
    </div>
</div>
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="card">
							<div class="card-body">
								<div class="stat-widget-five">
									<div class="stat-icon dib flat-color-1">
										<i class="pe-7s-cash"></i>
									</div>
									<div class="stat-content">
										<div class="text-left dib">
											<div class="stat-text">
												<span class="" th:text="${#numbers.formatDecimal(tongTienHoaDon, 0, 'POINT', 0, 'COMMA')} + ' VND'"></span>											</div>
											<div class="stat-heading">Doanh thu</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="card">
							<div class="card-body">
								<div class="stat-widget-five">
									<div class="stat-icon dib flat-color-2">
										<i class="pe-7s-cart"></i>
									</div>
									<div class="stat-content">
										<div class="text-left dib">
											<div class="stat-text">
												<span class="count" th:text="${tongHoaDon}"></span>
											</div>
											<div class="stat-heading">Hóa đơn</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="card">
							<div class="card-body">
								<div class="stat-widget-five">
									<div class="stat-icon dib flat-color-3">
										<i class="pe-7s-browser"></i>
									</div>
									<div class="stat-content">
										<div class="text-left dib">
											<div class="stat-text">
												<span class="count" th:text="${tongLichTau}"></span>
											</div>
											<div class="stat-heading">Chuyến tàu</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="card">
							<div class="card-body">
								<div class="stat-widget-five">
									<div class="stat-icon dib flat-color-4">
										<i class="pe-7s-users"></i>
									</div>
									<div class="stat-content">
										<div class="text-left dib">
											<div class="stat-text">
												<span class="count" th:text="${tongTaiKhoan}"></span>
											</div>
											<div class="stat-heading">Khách hàng</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Widgets -->
				<!-- To Do and Live Chat -->
				<!-- Việc cần làm và Trò chuyện trực tiếp -->
<div class="row">
    <!-- Thẻ Card Bổ sung -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-5">
                        <i class="pe-7s-note2"></i> <!-- Biểu tượng cho thẻ -->
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">
                                <span class="count" th:text="${tongBangTin}"></span> <!-- Một số nội dung động -->
                            </div>
                            <div class="stat-heading">Bảng tin</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Kết thúc thẻ Card Bổ sung -->

    <!-- Các Thẻ Card Hiện tại -->
     <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-6">
                        <!-- Biểu tượng thẻ tàu (ví dụ: Font Awesome) -->
                        <i class="fas fa-ship"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">
                                <span class="count" th:text="${tongTau}"></span> <!-- Một số nội dung động -->
                            </div>
                            <div class="stat-heading">Tàu</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-7">
                        <!-- Biểu tượng thẻ tàu (ví dụ: Font Awesome) -->
                        <i class="fa fa-anchor"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">
                                <span class="count" th:text="${tongHangTau}"></span> <!-- Một số nội dung động -->
                            </div>
                            <div class="stat-heading">Hãng tàu</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-1">
                        <!-- Biểu tượng thẻ tàu (ví dụ: Font Awesome) -->
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">
                                <span class="count" th:text="${tongTaiKhoannv}"></span> <!-- Một số nội dung động -->
                            </div>
                            <div class="stat-heading">Nhân viên</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- Thẻ Card Bổ sung -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-2">
                        <!-- Biểu tượng tuyến tàu (ví dụ: Font Awesome) -->
                        <i class="fa fa-retweet"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">
                                <span class="count" th:text="${tongTuyen}"></span> <!-- Một số nội dung động -->
                            </div>
                            <div class="stat-heading">Tuyến tàu</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Kết thúc thẻ Card Bổ sung -->
      <!-- Thẻ Card Bổ sung -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-3">
                        <!-- Biểu tượng tuyến tàu (ví dụ: Font Awesome) -->
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">
                                <span class="count" th:text="${tongDanhGia}"></span> <!-- Một số nội dung động -->
                            </div>
                            <div class="stat-heading">Đánh giá tốt</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Kết thúc thẻ Card Bổ sung -->
      <!-- Thẻ Card Bổ sung -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-4">
                        <!-- Biểu tượng tuyến tàu (ví dụ: Font Awesome) -->
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">
                                <span class="count" th:text="${tongDanhGiaK}"></span> <!-- Một số nội dung động -->
                            </div>
                            <div class="stat-heading">Đánh giá chưa tốt</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Kết thúc thẻ Card Bổ sung -->
      <!-- Thẻ Card Bổ sung -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-8">
                        <!-- Biểu tượng tuyến tàu (ví dụ: Font Awesome) -->
                        <i class="fas fa-chair"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text">
                                <span class="count" th:text="${tongGheNgoi}"></span> <!-- Một số nội dung động -->
                            </div>
                            <div class="stat-heading">Ghế ngồi</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Kết thúc thẻ Card Bổ sung -->
</div>

			</div>
		</div>

		<div th:replace="~{admin/fragments_admin :: footer}"></div>

	</div>
	<script>
        let scanner;
        let isScanning = false;

        function toggleScanner() {
            const video = document.getElementById('qr-video');
            const form = document.getElementById('qr-form');
            const resultField = document.getElementById('qr-result');
            const resultLinkDiv = document.getElementById('qr-result-link');
            const resultLink = document.getElementById('qr-link');

            if (!scanner) {
                scanner = new Instascan.Scanner({ video: video });

                scanner.addListener('scan', function (content) {
                    resultField.value = content;
                    stopScanner();
                    resultLink.href = content;
                    resultLink.textContent = content;
                    resultLinkDiv.style.display = 'block';
                });

                Instascan.Camera.getCameras().then(function (cameras) {
                    if (cameras.length > 0) {
                        scanner.start(cameras[0]);
                        isScanning = true;
                    } else {
                        console.error('No cameras found.');
                    }
                }).catch(function (e) {
                    console.error(e);
                });
            } else {
                if (isScanning) {
                    stopScanner();
                    resultLinkDiv.style.display = 'none';
                } else {
                    startScanner();
                }
            }
        }

        function startScanner() {
            const video = document.getElementById('qr-video');
            const form = document.getElementById('qr-form');

            form.style.display = 'block';
            video.style.display = 'block';

            Instascan.Camera.getCameras().then(function (cameras) {
                if (cameras.length > 0) {
                    scanner.start(cameras[0]);
                    isScanning = true;
                } else {
                    console.error('No cameras found.');
                }
            }).catch(function (e) {
                console.error(e);
            });
        }

        function stopScanner() {
            const form = document.getElementById('qr-form');
            const video = document.getElementById('qr-video');

            form.style.display = 'none';
            video.style.display = 'none';

            scanner.stop();
            isScanning = false;
        }
        
        function resetScanner() {
        	const form = document.getElementById('qr-form');
            const resultField = document.getElementById('qr-result');
            const resultLinkDiv = document.getElementById('qr-result-link');
            form.style.display = 'block';
            resultField.value = 'none';
            resultLinkDiv.style.display = 'none';
           
        }
    </script>
	<script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
	<script src="admin/js/init/fullcalendar-init.js"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
		crossorigin="anonymous"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
	<script th:src="@{/admin/js/main.js}"></script>

</body>
</html>
