<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
							<form>
		 <h3><b>Đăng bảng tin</b></h3>
		 
	<textarea class="form-control" name="tieu_de" th:text="${tieude}" placeholder="Tiêu Đề" style="margin-top: 20px;width: 950px; height: 20px;" ></textarea>
		<textarea class="form-control" name="noi_dung" placeholder="Nội Dung" style="margin-top: 20px;width: 950px; height: 100px;"></textarea>
		
		<input class="form-control" name="hinh_anh" type="file" /> 
		
<br>
		<button class="btn btn-outline-primary" formaction="/add">Đăng bài</button>
		<button class="btn btn-outline-primary" formaction="/delete">Xóa bài</button>
		
	</form>
</body>
</html>