<!DOCTYPE html>
<html xmlns = "http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<nav>
<a href="/home/index">index</a>
<a href="/home/quanlytau">Quản lý tàu</a>
<a href="/home/quanlylichtau">Quản lý lịch tàu</a>
<a href="/home/quanlygiave">Quản lý giá vé</a>
<a href="/home/quanlyghengoi">Quản lý giá vé</a>
|||
<a href="/home/quanlyhoadon">Quản lý hóa đơn</a>
<a href="/home/thongkedoanhthu">Thống kê doanh thu</a>
<a href="/home/quanlydanhgia">Quản lý đánh giá</a>
|||
<a href="/home/bantin">Bản tin</a>
|||
<a href="/auth/login/form">Login</a>
<a href="/auth/logoff">Logout</a>
</nav>
</body>
</html>