<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>TigonShip</title>
<meta name="description" content="Ela Admin - HTML5 Admin Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<script  th:src="@{/js/jquery.dataTables.min.js}"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
<link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">
<!--AngularJS  -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
<link rel="stylesheet" th:href="@{/admin/css/cs-skin-elastic.css}">
<link rel="stylesheet" th:href="@{/admin/css/style.css}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/style1.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/> 
<script src="https://cdn.datatables.net/plug-ins/1.13.6/sorting/datetime-moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>		
</head>
<body ng-app="tau-app" ng-controller="tau-ctrl">
	<!-- Left Panel (menu)-->
	<div th:replace="~{admin/fragments_admin :: aside}"></div>
	<!-- /Left-panel -->
	<!--  Header   --->
	<div id="right-panel" class="right-panel">
		<div th:replace="~{admin/fragments_admin :: header}"></div>
	</div>
	<!---------------->
	<div id="right-panel" class="right-panel">
		<div class="content">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h3>
									<strong class="card-title">DANH SÁCH TÀU</strong>
									<button data-bs-toggle="modal" type="button" data-bs-target="#modal" class="btn btn-primary" ng-click="reset()">Thêm tàu</button>
								</h3>
							</div>
							<div class="card-body">
								<table id="table2" class="table table-bordered border-primary" style="min-width: 845px">
									<thead>
										<tr style="background: #17bac5;">
											<th>ID</th>
											<th>TÊN TÀU</th>
											<th>TÊN HÃNG TÀU</th>					
											<th>SỐ GHẾ</th>
											<th>TÌNH TRẠNG</th>
											<th>NGÀY NHẬP</th>
											<th>THAO TÁC</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- Modal Body -->
					<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
					<div class="modal fade" id="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
						<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h3 class="modal-title" id="modalTitleId">Chỉnh sửa tàu</h3>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="mb-3">
										<label class="form-label">Tên tàu</label> 
										<input ng-model="form.tentau" class="form-control">
									</div>
									<div class="mb-3">
										<label class="form-label">Tên hãng tàu</label> 
										<select ng-model="form.hangtau.idhangtau" class="form-control">
											<option ng-repeat="hangtau in items.hangtau" ng-value="hangtau.idhangtau">{{hangtau.tenhangtau}}</option>
										</select>
									</div>
									<div class="mb-3">
										<label class="form-label">Số ghế</label> 
										<input ng-model="form.soghe" class="form-control" readonly>
									</div>
									<div class="mb-3">
										<label class="form-label">Tình trạng</label> 
										<select ng-model="form.tinhtrang" class="form-control">
											<option>Hoạt động</option>
											<option>Ngưng hoạt động</option>
										</select>
									</div>
									<div class="mb-3">
										<label class="form-label">Ngày nhập</label> 
										<input ng-model="form.ngaynhap" type="date" class="form-control">
									</div>
								</div>
								<div class="modal-footer text-center">
									 <button type="button" ng-show="post" ng-click="create()" class="btn btn-primary">Tạo</button> 
									<button type="button" ng-show="put" ng-click="update()"	class="btn btn-success">Chỉnh sửa</button>
									<button type="button" ng-click="reset()" class="btn btn-info">Xóa form</button>
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									
									<!-- FORM HIỂN THỊ CÁC THÔNG BÁO CHO NGƯỜI DÙNG -->
									<div class="container">
								      <input type="checkbox" id="check">
								      <label class="show_button" for="check" ng-show="delete">Xóa</label>
								      <div class="background"></div>
								      <div class="alert_box">
									      <div class="icon">
									          <i class="fas fa-exclamation-triangle"></i>
										  </div>
										  <header>Xác nhận</header>
										  <p>Bạn có chắc chắn muốn xóa không?</p>
										  <div class="btns">
										      <label ng-click="deleteItem(form)">Vâng, Xóa!</label>
										      <label for="check">Hủy bỏ</label>
									      </div>
								      </div>
								      
								      <input type="checkbox" id="check1" >
								      <div class="background"></div>
								      <div class="alert_box1">
									      <div class="icon">
									          <i class="fas fa-check-circle"></i>
										  </div>
										  <header>Đã xóa thành công</header>
										  <div class="btns1">
										      <label for="check1" data-bs-dismiss="modal">Đóng</label>
									      </div>
								      </div>
								      
								      <input type="checkbox" id="check3" >
								      <div class="background"></div>
								      <div class="alert_box3">
									      <div class="icon">
									          <i class="fas fa-check-circle"></i>
										  </div>
										  <header>Thành công</header>
										  <div class="btns3">
										      <label for="check3">Đóng</label>
									      </div>
								      </div>
								      
								      <input type="checkbox" id="check2" >
								      <div class="background"></div>
								      <div class="alert_box2">
									      <div class="icon">
									          <i class="fas fa-exclamation-triangle"></i>
										  </div>
										  <header>Không thành công!</header>
										  <div class="btns2">
										      <label for="check2" >Đóng</label>
									      </div>
								      </div>
								      
								      <input type="checkbox" id="check4" >
								      <div class="background"></div>
								      <div class="alert_box4">
									      <div class="icon">
									          <i class="fas fa-exclamation-circle"></i>
										  </div>
										  <header>Vui lòng nhập tên tàu!</header>
										  <div class="btns4">
										      <label for="check4" >OK</label>
									      </div>
								      </div>
								      
								      <input type="checkbox" id="check5" >
								      <div class="background"></div>
								      <div class="alert_box5">
									      <div class="icon">
									          <i class="fas fa-exclamation-circle"></i>
										  </div>
										  <header>Vui lòng chọn tên tàu!</header>
										  <div class="btns5">
										      <label for="check5" >OK</label>
									      </div>
								      </div>	
								      
								      <input type="checkbox" id="check8" >
								      <div class="background"></div>
								      <div class="alert_box8">
									      <div class="icon">
									          <i class="fas fa-exclamation-triangle"></i>
										  </div>
										  <header>Tên tàu tồn tại!</header>
										   <p>Hãy chọn giá trị khác.</p>
										  <div class="btns8">
										      <label for="check8" >OK</label>
									      </div>
								      </div>
								      
								      <input type="checkbox" id="check10" >
								      <div class="background"></div>
								      <div class="alert_box10">
									      <div class="icon">
									          <i class="fas fa-exclamation-triangle"></i>
										  </div>
										  <header>Dữ liệu không được chỉnh sửa!</header>
										  <div class="btns10">
										      <label for="check10" >OK</label>
									      </div>
								      </div>	
								      						    
									</div>
									<!--END. FORM HIỂN THỊ CÁC THÔNG BÁO CHO NGƯỜI DÙNG -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .animated -->
		<!-- Footer-->
		<div th:replace="~{admin/fragments_admin :: footer}"></div>
		<!-- Footer -->
	</div>
	<!-- Scripts -->
<!-- 	<script>const myModal = new bootstrap.Modal(document.getElementById('modalId'),options)</script> -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
	<script th:src="@{/admin/js/main.js}"></script>
	<script th:src="@{/js/tau.js}"></script>
</body>
</html>