<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Quản lý lịch tàu</title>
<meta name="description" content="Ela Admin - HTML5 Admin Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<script  th:src="@{/js/jquery.dataTables.min.js}"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!--AngularJS  -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
<link rel="stylesheet" th:href="@{/admin/css/cs-skin-elastic.css}">
<link rel="stylesheet" th:href="@{/admin/css/style.css}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/css/style1.css}">		
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/> 
  <script src="https://cdn.datatables.net/plug-ins/1.13.6/sorting/datetime-moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<style>
.custom-modal-width {
	max-width: 100%;
	width: 50%; 
}
</style>
</head>
<body ng-app="lichtau-app" ng-controller="lichtau-ctrl">
	<!-- Left Panel (menu)-->
	<div th:replace="~{admin/fragments_admin :: aside}"></div>
	<!-- /Left-panel -->
	<!--  Header   --->
	<div id="right-panel" class="right-panel">
		<div th:replace="~{admin/fragments_admin :: header}"></div>
	</div>
	<!---------------->
	<div id="right-panel" class="right-panel">
		<div class="content">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h3>
									<strong class="card-title">DANH SÁCH LỊCH TÀU</strong>
									<button data-bs-toggle="modal" type="button" data-bs-target="#modal" class="btn btn-primary" ng-click="reset()" th:if="${#request.isUserInRole('ADMIN')}">Thêm lịch tàu</button>
									<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#myModal">
										Lịch sử cập nhật
									</button>
							</h3>
							<div th:replace="~{admin/fragments_admin :: history}"></div>
							</div>
							<div class="card-body">
								<table id="table2" class="table table-bordered border-primary" style="min-width: 845px">
									<thead>
										<tr style="background: #17bac5;">
											<th class="text-center">TÊN TUYẾN</th>
											<th class="text-center">TÊN TÀU</th>
											<th class="text-center">GIỜ XUẤT PHÁT</th>
											<th class="text-center">GIỜ ĐẾN NƠI</th>
											<th class="text-center">TRẠNG THÁI</th>
											<th class="text-center">THAO TÁC</th>
										</tr>
									</thead>
									<tbody class="text-center"></tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- Modal Body -->
					<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
					<div class="modal fade" id="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
						<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered custom-modal-width" role="document">
							<div class="modal-content">
								<div class="modal-header" style="background: #17bac5;">
									<h3 class="modal-title" id="modalTitleId">LỊCH TÀU</h3>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="row mb-3">
										<div class="col-md-4">
											<label class="form-label">Tên tuyến</label> 
											<select ng-model="form.tuyen.idtuyen" class="form-control" ng-options="tuyen.idtuyen as tuyen.tentuyen for tuyen in items.tuyen | filter: { trangthai: 'Đang hoạt động' }">
											<option value="">Chọn tuyến</option>
											</select>
										</div>
										<div class="col-md-4">
											 <label class="form-label">Tên tàu</label> 
									   	 	<select ng-model="form.tau.idtau" class="form-control" ng-options="tau.idtau as tau.tentau for tau in items.tau | filter: { trangthai: 'Đang hoạt động' }">
									       	 <option value="">Chọn tàu</option>
									    	</select>
										</div>
										<div class="col-md-4">
											<label class="form-label">Trạng Thái</label> 
											<select ng-model="form.trangthai" class="form-control">
												<option>Đang hoạt động</option>
												<option>Ngưng hoạt động</option>
											</select>
										</div>

									</div>
									<div class="row mb-3">
									   <div class="col-md-4">
											<label class="form-label">Giờ xuất phát</label> 
											<select ng-model="form.gioxuatphat" class="form-control">
												<option>06:00</option><option>06:15</option><option>06:30</option><option>06:45</option>
												<option>07:00</option><option>07:15</option><option>07:30</option><option>07:45</option>
												<option>08:00</option><option>08:15</option><option>08:30</option><option>08:45</option>
												<option>09:00</option><option>09:15</option><option>09:30</option><option>09:45</option>
												<option>10:00</option><option>10:15</option><option>10:30</option><option>10:45</option>
												<option>11:00</option><option>11:15</option><option>11:30</option><option>11:45</option>
												<option>12:00</option><option>12:15</option><option>12:30</option><option>12:45</option>
												<option>13:00</option><option>13:15</option><option>13:30</option><option>13:45</option>
												<option>14:00</option><option>14:15</option><option>14:30</option><option>14:45</option>
												<option>15:00</option><option>15:15</option><option>15:30</option><option>15:45</option><option>16:00</option>
											</select>
										</div>
										<div class="col-md-4">
											<label class="form-label">Giờ đến nơi</label> 
											<select ng-model="form.giodennoi" class="form-control">
												<option>07:00</option><option>07:15</option><option>07:30</option><option>07:45</option>
												<option>08:00</option><option>08:15</option><option>08:30</option><option>08:45</option>
												<option>09:00</option><option>09:15</option><option>09:30</option><option>09:45</option>
												<option>10:00</option><option>10:15</option><option>10:30</option><option>10:45</option>
												<option>11:00</option><option>11:15</option><option>11:30</option><option>11:45</option>
												<option>12:00</option><option>12:15</option><option>12:30</option><option>12:45</option>
												<option>13:00</option><option>13:15</option><option>13:30</option><option>13:45</option>
												<option>14:00</option><option>14:15</option><option>14:30</option><option>14:45</option>
												<option>15:00</option><option>15:15</option><option>15:30</option><option>15:45</option>
												<option>16:00</option><option>16:15</option><option>16:30</option><option>16:45</option>
												<option>17:00</option>
											</select>
										</div>
									</div>
								</div>
								<div class="modal-footer text-center">
									<button type="button" ng-show="post" ng-click="create()" class="btn btn-primary">Tạo</button> 
									<button type="button" ng-show="put" ng-click="update()"	class="btn btn-success" th:if="${#request.isUserInRole('ADMIN')}">Chỉnh sửa</button>
									<!-- FORM HIỂN THỊ CÁC THÔNG BÁO CHO NGƯỜI DÙNG -->
									<div class="container">
								      <input type="checkbox" id="check3" >
								      <div class="background"></div>
								      <div class="alert_box3">
									      <div class="icon">
									          <i class="fas fa-check-circle"></i>
										  </div>
										  <header>Thành công</header>
										  <div class="btns3">
										      <label for="check3" data-bs-dismiss="modal">Đóng</label>
									      </div>
								      </div>
								      
								      <input type="checkbox" id="check2" >
								      <div class="background"></div>
								      <div class="alert_box2">
									      <div class="icon">
									          <i class="fas fa-exclamation-triangle"></i>
										  </div>
										  <header>Không thành công!</header>
										  <div class="btns2">
										      <label for="check2" >Đóng</label>
									      </div>
								      </div>
								      
								      <input type="checkbox" id="check4" >
								      <div class="background"></div>
								      <div class="alert_box4">
									      <div class="icon">
									          <i class="fas fa-exclamation-circle"></i>
										  </div>
										  <header>Vui lòng chọn giờ xuất phát!</header>
										  <div class="btns4">
										      <label for="check4" >OK</label>
									      </div>
								      </div>
								      
								      <input type="checkbox" id="check5" >
								      <div class="background"></div>
								      <div class="alert_box5">
									      <div class="icon">
									          <i class="fas fa-exclamation-circle"></i>
										  </div>
										  <header>Vui lòng chọn tên tàu!</header>
										  <div class="btns5">
										      <label for="check5" >OK</label>
									      </div>
								      </div>
								      
								      <input type="checkbox" id="check6" >
								      <div class="background"></div>
								      <div class="alert_box6">
									      <div class="icon">
									          <i class="fas fa-exclamation-circle"></i>
										  </div>
										  <header>Vui lòng chọn tên tuyến!</header>
										  <div class="btns6">
										      <label for="check6" >OK</label>
									      </div>
								      </div>
								    
								    <input type="checkbox" id="check7" >
								      <div class="background"></div>
								      <div class="alert_box7">
									      <div class="icon">
									          <i class="fas fa-exclamation-circle"></i>
										  </div>
										  <header>Vui lòng chọn giờ đến nơi!</header>
										  <div class="btns7">
										      <label for="check7" >OK</label>
									      </div>
								      </div>		
								      
								      <input type="checkbox" id="check8" >
								      <div class="background"></div>
								      <div class="alert_box8">
									      <div class="icon">
									          <i class="fas fa-exclamation-triangle"></i>
										  </div>
										  <header>Lịch tàu trùng lặp!</header>
										   <p>Vui lòng kiểm tra lại.</p>
										  <div class="btns8">
										      <label for="check8" >OK</label>
									      </div>
								      </div>
								      
								      <input type="checkbox" id="check9" >
								      <div class="background"></div>
								      <div class="alert_box9">
									      <div class="icon">
									          <i class="fas fa-exclamation-triangle"></i>
										  </div>
										  <header>Giờ đến nơi phải sau giờ xuất phát ít nhất 45 phút!</header>
										  <div class="btns9">
										      <label for="check9" >OK</label>
									      </div>
								      </div>
								      
								      <input type="checkbox" id="check10" >
								      <div class="background"></div>
								      <div class="alert_box10">
									      <div class="icon">
									          <i class="fas fa-exclamation-triangle"></i>
										  </div>
										  <header>Dữ liệu chưa được chỉnh sửa!</header>
										  <div class="btns10">
										      <label for="check10" >OK</label>
									      </div>
								      </div>	
								      
								      <input type="checkbox" id="check11" >
								      <div class="background"></div>
								      <div class="alert_box11">
									      <div class="icon">
									          <i class="fas fa-exclamation-triangle"></i>
										  </div>
										  <header>Mỗi tàu chỉ chạy tối đa 4 tuyến!</header>
										  <div class="btns11">
										      <label for="check11" >OK</label>
									      </div>
								      </div>
								      
								         <input type="checkbox" id="check12" >
								      <div class="background"></div>
								      <div class="alert_box12">
									      <div class="icon">
									          <i class="fas fa-exclamation-triangle"></i>
										  </div>
										  <header>Thời gian chạy của tuyến này là 1giờ!</header>
										  <div class="btns12">
										      <label for="check12" >OK</label>
									      </div>
								      </div>
								      
								      <input type="checkbox" id="check13" >
								      <div class="background"></div>
								      <div class="alert_box13">
									      <div class="icon">
									          <i class="fas fa-exclamation-triangle"></i>
										  </div>
										  <header>Thời gian nghỉ của tàu phải ít nhất 30 phút!</header>
										  <div class="btns13">
										      <label for="check13" >OK</label>
									      </div>
								      </div>
								      
								       <input type="checkbox" id="check14" >
								      <div class="background"></div>
								      <div class="alert_box14">
									      <div class="icon">
									          <i class="fas fa-exclamation-triangle"></i>
										  </div>
										  <header>Thời gian chạy của tuyến này là 1giờ 30phút!</header>
										  <div class="btns14">
										      <label for="check14" >OK</label>
									      </div>
								      </div>
								      
								       <input type="checkbox" id="check15" >
								      <div class="background"></div>
								      <div class="alert_box15">
									      <div class="icon">
									          <i class="fas fa-exclamation-triangle"></i>
										  </div>
										  <header>Thời gian chạy của tuyến này là 2giờ 30phút!</header>
										  <div class="btns15">
										      <label for="check15" >OK</label>
									      </div>
								      </div>
								      
								       <input type="checkbox" id="check16" >
								      <div class="background"></div>
								      <div class="alert_box16">
									      <div class="icon">
									          <i class="fas fa-exclamation-triangle"></i>
										  </div>
										  <header>Thời gian chạy của tuyến này là 45phút!!</header>
										  <div class="btns16">
										      <label for="check16" >OK</label>
									      </div>
								      </div>
								      						    
									</div>
									<!--END. FORM HIỂN THỊ CÁC THÔNG BÁO CHO NGƯỜI DÙNG -->
								</div>
							</div>
						</div>
					</div>
					<!--END. Modal Body -->
				</div>
			</div>
		</div>
			<!-- .animated -->
			<!-- Footer-->
			<div th:replace="~{admin/fragments_admin :: footer}"></div>
			<!-- Footer -->
</div>
	<!-- Scripts -->
	<!--  <script>const myModal = new bootstrap.Modal(document.getElementById('modalId'),options)</script>  -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
	<script th:src="@{/admin/js/main.js}"></script>
		<script th:src="@{/js/lichtau.js}"></script>
</body>

</html>